body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe4c4;
  padding: 0;
}
.style{
  font-size: 25px;
  background: linear-gradient(to left,
                    blue,
                    green,
                    red);
            -webkit-background-clip: text;
            color: transparent; 
}
.title {
  text-align: center;
  font-size: 75px;
  margin-top: 50px; /* Adjust as needed */
  background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            -webkit-background-clip: text;
            color: transparent; 
}
.bordered-component {

  background-color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

